.navbar-brand {
  font-family: 'Estonia', cursive;
  font-family: 'Merienda One', cursive;
  font-size: 38px;
  color: blueviolet !important;
}
body {
  background-color: #212529;
  color: white;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Estonia', cursive;
  font-family: 'Merienda One', cursive;
}
.nav-link {
  font-family: 'Estonia', cursive;
  font-family: 'Merienda One', cursive;
  font-size: 22px;
}
.navbar-brand {
  font-family: 'Estonia', cursive;
  font-family: 'Merienda One', cursive;
  color: #c81717 !important;
}
hr {
  width: 88px;
  padding: 3.8px;
  border: none;
  border-radius: 5px;
  background-color: tan;
  opacity: 5;
  margin: 0px;
}
.section-title {
  font-family: 'Estonia', cursive;
  font-family: 'Merienda One', cursive;
  font-size: 24px;
}
.pizza-name {
  font-size: 15px;
  font-weight: 60;
}
.card-body span {
  width: 100%;
  line-height: 10px;

  font-family: 'Estonia', cursive;
  font-family: 'Merienda One', cursive;
}
.card {
  height: 230px;
  margin: 10px 20px;
  border-color: #212529;
  outline-color: #212529;
  border-radius: 100px;
  border-bottom-left-radius: px;
  border-bottom-right-radius:5px;
  overflow: hidden;
  text-align: center;
}
.card-body {
  background-color: #212529;
  border-color: #212529;
  outline-color: #212529;
  color: #fff;
  font-family: 'Estonia', cursive;
  font-family: 'Merienda One', cursive;
}
.card img {
  background-color: #212529;
  height: 180px;
  width: 120%;
  object-fit: fill;
  padding-bottom: 10px;
  border-bottom: 4px solid #fff;
}
.aside-section {
  position: sticky;
  height: 80vh;
  transition: all 0.2s ease;
  width: 400px;
  margin: 10px 10px 0px 10px;
}
.aside-section form {
  position: sticky;
  padding: 20px;
  margin: 10px 40px 0px 10px;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
}
.master-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  width: 100vw;
  margin-right: 20px;
}
.cart {
  display: none;
  padding: 10px;
  margin: 10px;
  width: 300px;
  position: relative;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-btn img {
  width: 40px;
}

.cart-items {
  position: absolute;
  top: 3px;
  right: 217px;
  padding: 0 9px;
  border-radius: 50%;
  color: #fff;
}
#cart-count {
  font-size: 17px;
  font-weight: 600;
}
.custom-button {
  border: 1px solid #c81717;
  color: #c81717;
}
.custom-button:hover {
  background-color: #c81717;
  color: white;
}
.toppings {
  display: flex;
}
tr:nth-child(even) {
  background-color: rgba(199, 152, 64, 0.5) !important;
}

th {
  background-color: #c81717 !important;
  color: white;
}
td {
  color: black;
}
.total-amount {
  font-weight: bold;
  font-size: 1.6em;
}

.delivery-form {
  padding: 18px;
}
.delivery-form form {
  display: none;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
  padding: 18px;
}
.delivery-form input {
  width: 70% !important;
}
#amount,
select,
select:focus {
  color: #fff !important;
  font-weight: 400 !important;
  outline: none !important;
  border: none !important;
  border-bottom: 1px solid #fff !important;
  background-color: transparent !important;
}
select option {
  margin: 40px;
  background-color: #212529;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}